/*Cores principais*/
$vinho: #59321b;
$cinza: #343a40;
$cinza1: #f1f1f1;

/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
}
nav{
	background:$cinza !important;
	height:60px !important;
	a{
		width:150px;
		color: #fff !important;
		font-family: 'Roboto', sans-serif;
		/*text-shadow: 2px 2px 2px #000000;*/
		font-size: 1.2em;
		&:hover{
		 color: $cinza1 !important;
		}
	}
}