@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$inputcolor: #006600; /*variavel para a cor do input*/
$inputcolor: #be9a11; /*variavel para a cor do input*/
$corbase: #23261f;
$fundo: #fff;
/*LABEL FLUTUANTE -------------------------------------------------------*/
@mixin floatborda{
	/*border:none !important;
	border-radius: 0 !important;
	border-bottom: 2px solid $inputcolor !important;*/
	border: 2px solid $inputcolor !important;
}

.label-float{
  position: relative;
  padding-top: 15px;
  font-family: 'Roboto', sans-serif;
  color: #2e444e;
  
	input{
	  
	  border: 1px solid lightgrey;
	  border-radius: 5px;
	  outline: none;
	  /*min-width: 250px;*/
	  width:100%;
	  height: 35px;
	  
	  padding: 5px 10px;
	  font-size: 16px;
	  transition: all .1s linear;
	  -webkit-transition: all .1s linear;
	  -moz-transition: all .1s linear;
	  -webkit-appearance:none;
	  &:focus{
		  @include floatborda;
	  }
	  &::placeholder{
		  color:transparent;
	  }
	
	  /*PARA INPUT REQUIRED ------------------*/	
	  &:required:invalid + label{
		  color: red;
	  }	
	  &:focus:required:invalid{
		  border: 2px solid red;
	  }	
	  &:required:invalid + label:before{
			content: '*';
	  }
	  /*-------------------------------------*/	
	  
	  &:focus + label,
	  &:not(:placeholder-shown) + label{ /*PARA A LABEL QUE FICA ACIMA*/
		  font-size: 11px;
		  background: $fundo;
		  top: 0;
		  color: $inputcolor;
		  height:20px;
	  }
	
	  &:not(:placeholder-shown){ /*Para mudar o input apos tirar o mouse*/
			@include floatborda;
	  }
	  
	}

	label{
	  pointer-events: none;
	  position: absolute;
	  top: calc(50% - 8px);
	  left: 5px;
	  transition: all .1s linear;
	  -webkit-transition: all .1s linear;
	  -moz-transition: all .1s linear;
	  /*background-color: white;*/
	  padding: 5px;
	  font-family: 'Roboto', sans-serif;
	  box-sizing: border-box;
	  
	}
	.sub{
		label{
			top: calc(50% - 20px);
		}
	
	}
	
	 
	
	 
}
/*------------------------------------------------------------------------------*/


/*LABEL PADR?O -----------------------------------------------------------------*/
.label-titulo{
	input{
		 @include floatborda;
		 width:100%;
		 height:35px;
		 
	}
	label{
		color:$inputcolor;
		font-family: 'Roboto', sans-serif;
		margin: 0;
		/*padding-left: 15px;*/
	}
}

/*------------------------------------------------------------------------------*/

.Titulo{
		h2{
			font-family: 'Roboto', sans-serif;
			color: $inputcolor;
			font-size: 1.5em;
		}
		h3{
			font-family: 'Roboto', sans-serif;
			font-size: 1.2em;
			text-decoration: none;
		}
	}
	
.botaoanimado{
	background: none;
	border: none;
	width: 150px! important;
	margin-top: 1%;
	.button{
		background: $corbase !important;
		color: #fff;
		width: 100%;
		&:hover{
			background: $corbase;
		}
	}
    .content{
		background: $corbase;
		color: #fff;
	}
}	

.tabela{
	thead{
		tr{
			th{
				background: lighten($inputcolor, 60%) !important;
				border-color: lighten($inputcolor, 0%) !important;
				background: lighten($inputcolor, 55%) !important;
				border-color: lighten($inputcolor, 40%) !important;
			}
		}
	}
}
.Alerta{
	color: #721c24;
	font-family: 'Roboto', sans-serif;
	border-color:  #721c24 !important;
	
	span{
		color: #721c24;
	}
	/*background: #f8d7da !important;*/

}

.Sucesso{
	color: #3ed715;
	font-family: 'Roboto', sans-serif;
	border-color:  #3ed715 !important;
	
	span{
		color: #3ed715;
	}
}